src/lib/
package.json
package-lock.json
yarn.lock
node_modules/
.idea/
bin/
public/
vue.config.js
.history/
.vscode/
index.html
.gitignore
.eslintignore
README.md
/贪吃蛇/package.json
./package.json
../package.json